* {
    margin: 0;
    box-sizing: border-box;
    /* considera a borda como tamanho total */
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F6F8FC;
}

h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem;
        border-radius: 1rem;
    }
}
